.container-auto {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.g-p-t-50 {
  padding-top: 50px;
}

.g-p-b-50 {
  padding-bottom: 50px;
}

.g-bc-c8351c {
  background-color: #c8351c;
}

.g-bc-f6f6f6 {
  background-color: #f6f6f6;
}

.g-c-c8351c {
  color: #c8351c;
}

.g-bc-f5f5f5 {
  background-color: #f5f5f5;
}

.g-c-999 {
  color: #999;
}

.g-c-666 {
  color: #666;
}

.g-c-333 {
  color: #333;
}

.g-fs-17 {
  font-size: 17px;
}

.g-banner-cover {
  min-height: 250px;
  object-fit: cover;
}