.wrapper {
  padding: 100px 0;
}

.left {
  flex-basis: 62.4%;
}

.left ul {
  display: flex;
}

.left ul li {
  width: 25%;
}

.left ul li+li {
  margin-left: 26px;
}

.right {
  margin-left: 42px;
}

.right h1 {
  font-size: 28px;
  color: #000000;
  line-height: 40px;
  margin-bottom: 28px;
}

.right ul li {
  color: #666;
  line-height: 24px;
  font-size: 17px;
}

.right ul li::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #AEAEAE;
  border-radius: 5px;
  margin-right: 12px;
}

.right ul li+li {
  margin-top: 18px;
}

.buttons {
  margin-top: 50px;
}

.buttons button,
.buttons a {
  height: 56px;
  cursor: pointer;
  border-radius: 28px;
}

.buttons a:hover {
  color: #fff;
}

.contact-btn {
  background-color: #B8412A;
  border: 0;
}

.add-btn {
  margin-left: 20px;
  border: 1px solid #B8412A;
  background-color: #fff;
}

.productPhotos {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.description {
  gap: 20px
}

.description dt {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #E3E3E3;
  font-weight: 600;
}

.description dd {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #E3E3E3;
  padding: 0 20px;
}